<form #myForm="ngForm">
    <input type="text" (blur)="save(0)" name="firstName" value="child.name"  placeholder="fist name..." [(ngModel)]="child.name" required/>
    <br/>
    <input type="text" (blur)="save(1)" name="idNumber" value="child.idNumber" placeholder="identity number..." [(ngModel)]="child.idNumber" required/>
    <br/>
    <div *ngIf="invalidIdNumber">
        מספר ת.ז. לא תקין
    </div><br/>
    <br/>
    <input type="date" (blur)="save(0)" name="birthDate" value="child.birthDate" placeholder="birth date..." [(ngModel)]="child.birthDate" required/>
</form>