<h1>שלום {{personDetails.firstName+' '+personDetails.lastName}} </h1>
<button (click)="saveLocalData()" routerLink="/instructions">הוראות מילוי הטופס</button>
<form #myForm="ngForm">
    <label for="firstName">הכנס שם פרטי:</label><br/>
    <input type="text" value="personDetails.firstName" name="firstName"  placeholder="fist name..." [(ngModel)]="personDetails.firstName" required/><br/>
    <label for="lastName">הכנס שם משפחה:</label><br/>
    <input type="text" value="personDetails.lastName" name="lastName" placeholder="last name..." [(ngModel)]="personDetails.lastName" required/><br/>
    <label for="idNumber">הכנס מספר ת.ז.:</label><br/>
    <input type="text" value="personDetails.idNumber" name="idNumber" placeholder="identity number..." [(ngModel)]="personDetails.idNumber" required/><br/>
    <label for="birthDate">הכנס תאריך לידה:</label><br/>
    <input type="date" value="personDetails.birthDate" name="birthDate" placeholder="birth date..." [(ngModel)]="personDetails.birthDate" required/><br/>
    <label for="kind">בחר מין</label><br/>
    <select name="kind" value="personDetails.kind" [(ngModel)]="personDetails.kind" required>
        <option *ngFor="let k of kinds">{{k}}</option>
    </select><br/>
    <label for="hmo">בחר קופת חולים</label><br/>
    <select name="hmo" value="personDetails.hmo" [(ngModel)]="personDetails.hmo" required>
        <option>בחר קופת חולים</option>
        <option *ngFor="let hmo of HMO">{{hmo}}</option>
    </select><br/>
    <label >הכנס מספר ילדים</label><br/>
    <input type="number" #numOfChildren (change)="initialChildrenArray(numOfChildren.value)" placeholder="מספר ילדים" required/>
    <div *ngIf="personDetails.children.length > 0">
        <app-children-form name="children" *ngFor="let c of personDetails.children"  ></app-children-form>
    </div><br/><br/>
    <input type="submit" value="שמור">
</form>

<router-outlet></router-outlet>