<div class="contens">
<h1 >שלום {{personDetails.firstName+' '+personDetails.lastName}} </h1>
<button class="button" (click)="saveLocalData()" routerLink="/instructions">הוראות מילוי הטופס</button>
<br/><br/><br/>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
    
    <label for="firstName" class="inputs">הכנס שם פרטי:</label><br/>
    <input type="text" class="inputs" value="personDetails.firstName" name="firstName" #Fname="ngModel"  placeholder="first name..." [(ngModel)]="personDetails.firstName" minlength="2" maxlength="10" required/><br/>
    <div  *ngIf="Fname.invalid && (Fname.dirty || Fname.touched)" class="alert">
        זהו שדה חובה, ועליו להכיל בין 2 ל-10 תווים
    </div><br/>
    <label class="inputs" for="lastName">הכנס שם משפחה:</label><br/>
    <input type="text" class="inputs" value="personDetails.lastName" name="lastName" #Lname="ngModel" placeholder="last name..." [(ngModel)]="personDetails.lastName" minlength="3" maxlength="10" required/><br/>
    <div  *ngIf="Lname.invalid && (Lname.dirty || Lname.touched)" class="alert">
        זהו שדה חובה, ועליו להכיל בין 3 ל-10 תווים
    </div><br/>
    <label class="inputs" for="idNumber">הכנס מספר ת.ז.:</label><br/>
    <input type="text" class="inputs" value="personDetails.idNumber" #idNum="ngModel" (blur)="checkId()" name="idNumber" placeholder="identity number..." [(ngModel)]="personDetails.idNumber" minlength="8" maxlength="9" required/><br/>
    <div  *ngIf="invalidIdNumber || (idNum.invalid && (idNum.dirty || idNum.touched))" class="alert">
        מספר ת.ז. לא תקין
    </div><br/>
    <label class="inputs" for="birthDate">הכנס תאריך לידה:</label><br/>
    <input class="inputs" type="date" value="personDetails.birthDate" name="birthDate" placeholder="birth date..." [(ngModel)]="personDetails.birthDate" required/><br/>
    <label class="inputs" for="kind">בחר מין</label><br/>
    <select class="inputs" name="kind" value="personDetails.kind" #kind="ngModel" [(ngModel)]="personDetails.kind" required>
        <option *ngFor="let k of kinds">{{k}}</option>
    </select><br/>
    <div *ngIf="kind.invalid && (kind.dirty || kind.touched)" class="alert">
        זהו שדה חובה, עליך לבחור אחד מהאפשרויות
    </div><br/>
    <label class="inputs" for="hmo">בחר קופת חולים</label><br/>
    <select class="inputs" name="hmo" value="personDetails.hmo" [(ngModel)]="personDetails.hmo" required>
        <option *ngFor="let hmo of HMO">{{hmo}}</option>
    </select><br/>
    <label class="inputs">הכנס מספר ילדים</label><br/>
    <input class="inputs" type="number" #numOfChildren  (change)="initialChildrenArray(numOfChildren.value)" [min]="0" placeholder="מספר ילדים"/>
    <!-- <div  *ngIf="personDetails.children.length > 0"> -->
        <!-- <app-children-form name="children" *ngFor="let c of personDetails.children"  ></app-children-form> -->
        <!-- [location]="personDetails.children.concat()" 
        [location]="getLocation()" (on-entering)="addLocation(location)"-->
    <!-- </div><br/><br/> -->
    <input class="button" type="submit" value="שמור" [disabled]="!myForm.valid">

</form></div>
<router-outlet></router-outlet>